/* This css is used only for the styling of the background images of the pages */
/* Mobile View */
.home-container{
    background-color: black;
    background-image: url("/home/background-home-mobile.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.destinaion-container{
    background-color:black;
    background-image: url("/destination/background-destination-mobile.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.crew-container{
    background-color: black;
    background-image: url("/crew/background-crew-mobile.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;

}
.technology-container{
    background-color: black;
    background-image: url("/technology/background-technology-mobile.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;

}

.card-image-cover{
    background-size: contain;
    background-position:bottom;

}
/* Tablet view */
@media( min-width:768px) {
    .home-container{
        background-image: url("/home/background-home-tablet.jpg") ;

    }
    .destinaion-container{
        background-image: url("/destination/background-destination-tablet.jpg") ;
    }
    
    .card-image-cover{
        background-size:65;
        background-position:bottom;

    }
    .crew-container{
        background-image: url("/crew/background-crew-tablet.jpg") ;
    }
    .technology-container{
        background-image: url("/technology/background-technology-tablet.jpg") ;
    }
    

}
/* Desktop view */
@media( min-width:1020px) {
    .home-container{
        background-image: url("/home/background-home-desktop.jpg") ;
        background-size: cover;


    }
    .card-image-cover{
        background-size:65;
        background-position:bottom;

    }
    .crew-container{
        background-image: url("/crew/background-crew-desktop.jpg") ;
        background-size: cover;

    }
    .technology-container{
        background-image: url("/technology/background-technology-desktop.jpg") ;
        background-size: cover;

    }

}
/* Desktop view */
@media( min-width:1280px) {
    .card-image-cover{
        background-size: 50;
        background-position:bottom;

    }
    .destinaion-container{
        background-image: url("/destination/background-destination-desktop.jpg") ;
        background-size: cover;

    }

}
