/* This css is used only for the styling of the background images of the pages */
.home-container{
    background-color: black;
    background-image: url("/home/background-home-mobile.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

@media( min-width:765px) {
    .home-container{
        background-image: url("/home/background-home-tablet.jpg") ;
    }
    
}
@media( min-width:1020px) {
    .home-container{
        background-image: url("/home/background-home-desktop.jpg") ;
        background-size: auto;

    }
    
}

.destinaion-container{
    background-color:black;
    background-image: url("/destination/background-destination-mobile.jpg") ;
    background-size: auto;
    background-repeat: no-repeat;
}

@media( min-width:765px) {
    .destinaion-container{
        background-image: url("/destination/background-destination-tablet.jpg") ;
    }
    
}
@media( min-width:1020px) {
    .destinaion-container{
        background-image: url("/destination/background-destination-desktop.jpg") ;
    }
    
}

.crew-container{
    background-color: black;
    background-image: url("/crew/background-crew-mobile.jpg") ;
    background-size: auto;
    background-repeat: no-repeat;

}

@media( min-width:765px) {
    .crew-container{
        background-image: url("/crew/background-crew-tablet.jpg") ;
    }
    
}
@media( min-width:1020px) {
    .crew-container{
        background-image: url("/crew/background-crew-desktop.jpg") ;
    }
    
}
.technology-container{
    background-color: black;
    background-image: url("/technology/background-technology-mobile.jpg") ;
    background-size: auto;
    background-repeat: no-repeat;

}

@media( min-width:765px) {
    .technology-container{
        background-image: url("/technology/background-technology-tablet.jpg") ;
    }
    
}
@media( min-width:1020px) {
    .technology-container{
        background-image: url("/technology/background-technology-desktop.jpg") ;
    }
    
}
