@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-[5rem] lg:text-[8.5rem] font-Bellefair;
  }
  h2 {
    @apply text-[4rem] font-Bellefair ;
  }
  h3 {
    @apply text-base lg:text-[1.5rem] font-Bellefair;
  }
  h5 {
    @apply text-base lg:text-xl font-BarlowCondensed tracking-[3px] lg:tracking-[4.7px] text-primaryWhite uppercase;
  }
  p{
    @apply font-Barlow text-lg leading-8
  }

  :root {
    --primary-dark: #0b0d17;
    --primary-gray: #d0d6f9;
    --primary-white: #ffffff;
    /* --primary-purple: #D0D6F9; */
  }

  .container-wrapper {
    @apply relative w-screen h-screen;
  }

  .crewSelector{
    /* @apply p-2 rounded-3xl cursor-pointer bg-gray-500 opacity-20 ; */
    appearance: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    accent-color: white;
    background-color:gray;
    opacity: 0.2;
  }
  .crewSelector:checked {
    background-color: white;
    opacity: 1;
  }
  .technology-lbl{
    @apply  w-[4.5rem] h-[4.5rem] rounded-full text-center flex justify-center items-center font-bold cursor-pointer
  }
  .destination-lbl{
    @apply  border-white  pb-2 text-primaryGray font-BarlowCondensed cursor-pointer
 
  }
  .page-title{
    @apply   lg:absolute md:translate-y-0 translate-y-[4.5rem] lg:top-[10rem]  md:left-36 lg:w-1/3 w-[65%] m-auto text-center md:text-left 
  }
}

