@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .technologySelector {
    @apply appearance-none;
  }
}

@layer base {
  h1 {
    @apply text-[5rem] lg:text-[8.5rem] font-Bellefair;
  }
  h2 {
    @apply text-[4rem] font-Bellefair;
  }
  h3 {
    @apply text-base lg:text-[1.5rem] font-Bellefair;
  }
  h5 {
    @apply text-base lg:text-xl font-BarlowCondensed tracking-[3px] lg:tracking-[4.7px] text-primaryWhite uppercase;
  }

  :root {
    --primary-Dark: #0b0d17;
    --primary-Gray: #d0d6f9;
    --primary-White: #ffffff;
  }

  .container-wrapper {
    @apply relative w-screen h-screen;
  }

  .crewSelector{
    /* @apply p-2 rounded-3xl cursor-pointer bg-gray-500 opacity-20 ; */
    appearance: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    accent-color: white;
    background-color:gray;
    opacity: 0.2;
  }
  .crewSelector:checked {
    background-color: white;
    opacity: 1;
  }
  .lbl{
    @apply left-6 top-4
  }
  .lbl-input{
    @apply absolute text-lg
  }
  .technologySelector {
    @apply  p-8 rounded-full cursor-pointer opacity-60 border
     border-white bg-transparent 
     ;
  }
  .technologySelector:checked {
    background-color:white;
    opacity: 1;
  }
}

